---
---

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "minima";

// Custom styles
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

a.site-title {
  color: #c00 !important;
  font-weight: bold;
  border: none;
}

a.site-title:hover {
  border: none;
}

a.page-link {
  color: #3274B5 !important;
  font-weight: bold;
  border: none;
}

a {
  color: #3274B5;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #3274B5;
  background: transparent;
  padding: 0 0.13em;
}
a:hover {
  border-bottom: 1px dashed #3274B5;
  text-decoration: none;
/*  background: #E9EAEB;*/
  opacity: 0.76;
}
strong { font-weight: normal; background: #F4EDC7; border-bottom: 1px solid #EDDC88; padding: 0.1em 0.3em; }

p { line-height: 2em; }

h3 a { display: inline !important; color: #000 !important; border: none; }

.box { border-bottom: 1px dashed #aaa; margin: 0 0 2em 0; padding: 0 0 1em 0; }

blockquote { margin: 2em 0; }
blockquote p { font-size: 0.9em !important; color: #000; }